img{
	width: 80px;
}
.img{
position: absolute;
    left: 430px;
    top: 37px;
}
.img22{
position: absolute;
    left: 80px;
    top: 70px;
    width: 400px;
    height: auto;
    z-index: -1;
}
.img2{

	width: 400px;
	height: auto;
}
@font-face {
  font-family: "asd";
  src: url("./GTA Russian.ttf");
}
#timer {
	z-index: 200;
	text-align: right;
  width: 460px;
  font-size: 150px;
  /*background-color: black;*/
  color: #fff;
  padding: 25px;
  border-radius: 10px;
  -webkit-text-stroke: .5px #000; /* Толщина и цвет обводки */
  text-stroke: 1px #000;
    font-family: "asd", sans-serif;
  font-weight: 900;
  font-style: normal;
  
  
}
#labels {
  margin-top: -25px;
  z-index: 2;
  color: #fff;
  font-size: 12px;
    box-shadow: 5px 5px 5px #000;
}
#hh {margin-left: 45px;}
#mm {margin-left: 80px;}
#ss {margin-left: 70px;}
#ms {margin-left: 45px;}

#controls {
  margin-left:150px;
  margin-top: 30px;
}

button {
  width: 100px;
  height: 40px;
  float: left;
  margin-left: 50px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000;
}
#go    { background-color: limegreen; }

#stop  { background-color: red;  display: none; }

#clear { background-color: yellow; display: none;}


